@import '../../styles/colors';
@import '../../styles/mixins';

.wrapper {
  @include hexagonWrapper;
}

.hexagon {
  @include hexagon;

  &.STOPPED,
  &.CREATING {
    background-color: font-color(regular);
  }

  &.STARTED {
    background-color: $color-primary;
  }

  &.ERROR {
    background-color: $color-error;
  }
}
